 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
.body{
    overflow: hidden;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: linear-gradient(90deg, #d6d4d4,#5f5f5f); */
    background: linear-gradient(90deg, #8d8fbb,#2a2c6b);
}

.container{
    position: relative;
    width: 850px;
    height: 550px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0,.2);
    overflow: hidden;
}

.form-box{
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    color: #333;
    text-align: center;
    padding: 40px;
    z-index: 1;
}

form{
    width: 100%;
}

.container h1{
    font-size: 36px;
    margin: -10px 0;
}

.input-box{
    position: relative;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    padding: 13px 50px 13px 20px;
    border-radius: 8px;
    border: none;
    background: #eee;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.input-box input::placeholder{
    color: #888;
    font-weight: 400;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #888;
}

.forgot-link{
    margin: -15px 0 15px;
}

.forgot-link a{
    font-size: 15px;
    color: #333;
    text-decoration: none;
}

.btn{
    width: 100%;
    height: 48px;
     /* background: linear-gradient(180deg,  #333333,#565656);
      */
       background: linear-gradient(360deg, #3f3f61,#060730);
    opacity: 0.9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0,.1);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    transition: transform 0.3s ease;
}

.btn:hover{
    transform: scale(1.05);
}

.toggle-box::before{
    content: '';
    position: absolute;
    width: 300%;
    height: 100%;
    /* background: linear-gradient(180deg,  #333333,#565656); */
    background: linear-gradient(360deg, #3f3f61,#060730);



    opacity: 0.9;
    left: -250%;
    z-index: 2;
    border-radius: 150px;
}
.toggle-box{
    position: absolute;
    width: 100%;
    height: 100%;
 
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: 2;
    
}

.toggle-panel p{
    margin-top: 18px;
}
.toggle-panel img{
    height: 170px;
    margin-top: -15px;
}
.toggle-panel .btn{
    margin-top: 15px;
    width: 160px;
    height: 48px;
    border: 2px solid white;
    background: none;
    box-shadow: none;
}

/* Navbar CSS */

.navbar-header{
    /* background: #24252A; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: relative;
}
 .navbar-btn{
    font-weight: 600;
    font-size: 16px;
    color: black;
}
.navbar-li{
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}
.navbar-logo{
    cursor: pointer;
}
.navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.navbar-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.navbar-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.navbar-btn{
    padding: 5px 25px;
    cursor: pointer;
    border-radius: 50px;
    transition: transform 0.3s ease;
    background: linear-gradient(180deg, #7679ce,#bdbdcc);
}
.navbar-btn:hover{
    transform: scale(1.05);
}

.logo{
    height: 55px;
    margin-right: 2px;
    /* margin-top: -4px; */
    cursor: pointer;
}


 /* Home CSS */
.home{
    position:relative;
    height: 100vh;
    overflow: hidden;
}
 .background{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:url('D:\Web Development\Projects\Project\vite-project\src\assets\GG-3.png') ;
    /* background: linear-gradient(90deg,#060010,#170336); */
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    background-size: cover;
    opacity: 0.97;
    filter: blur(2px);
 }





/* Footer CSS */

 .footer{
    width: 100%;
    height: 30px;
    /* background: #24252A; */
    position: absolute;
    bottom: 0;
}

.footer ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-weight: 600;
    text-shadow: 0 0 4px rgb(107, 107, 107), 0 0 5px black;
}



/* Code Editor CSS */

.editor{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 5px solid #2a2c6b;
    /* border-radius: 10px; */
}

.code-editor-nav{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, #2a2c6b,#8d8fbb);
}
.code-editor-nav select{
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
.code-editor-nav select option{
   background: #acabab;
   border: none;
   padding: 10px;
   font-size: 16px;
}
.code-button{
    background: linear-gradient(180deg,black,rgb(43, 43, 43));
    color: white;
    margin: 2px;
    width: 70px;
    border-radius: 7px;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.code-button:hover{
    transform: scale(1.04);
}

.editor-container {
    width: 100%;
    transition: height 0.3s ease;
    min-height: 100px;
    /* No fixed height here, it's set inline */
    overflow: hidden; 
}
.output {
    overflow-y: auto;
    transition: height 0.3s ease;
    background: linear-gradient(180deg, #6d70d5,#8d8fbb);
}
.editor h1{
    font-size: 16px;
    font-weight: 700;
    margin-left: 5px;
}



/* Student NavBar */

.student-navbar{
    height: 70px;
    width: 100%;
    background:none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* background: rgb(21, 21, 21); */
    background: none;
    border-radius: 25px;
    margin-top: 5px;
    transition: transform 0.3s ease;
    
}
.student-navbar:hover{
    transform: scale(0.993);
    /* border: 1px solid white; */
    box-shadow: 0 0 5px rgb(133, 133, 133);
}
.student-navbar .logo{
    height: 50px;
    margin-left: 10px;
}

.student-navbar .user{
    height: 45px;
    border-radius: 100px;
    margin-right: 12px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.student-navbar .user:hover{
    transform: scale(1.08);
    box-shadow: 0 0 5px white;
}
.dropdown-menu {
  position: absolute;
  top: 60px;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  min-width: 120px;
  z-index: 100;
}

.dropdown-menu button{
  background: none;
  border: none;
  padding: 12px 16px;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
}

.dropdown-menu button:hover {
  background: #f0f0f0;
  border: none;
  border-radius: 8px;
}



/* StudentHome CSS */

.student-home{
    position:relative;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(270deg, #8d8fbb,#2a2c6b);
} 



/* Landing Page CSS */

.card-swap-container {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(5%, 20%);
  transform-origin: bottom right;

  perspective: 900px;
  overflow: visible;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 12px;
  border: 1px solid #fff;
  background: #000;

  transform-style: preserve-3d;
  will-change: transform;
  backface-visibility: hidden;
}

@media (max-width: 768px) {
  .card-swap-container {
    transform: scale(0.75) translate(25%, 25%);
  }
}

@media (max-width: 480px) {
  .card-swap-container {
    transform: scale(0.55) translate(25%, 25%);
  }
}


/* Home CSS */

.home-main{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.card-image{
    margin-top: 10px;
    height: 90%;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 12px;
}
.hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-left: 10px;
    text-shadow: 0 0 2px rgb(5, 5, 5), 0 0 5px rgb(228, 228, 228);
}

.start-button{
    width: 150px;
    height: 50px;
    background: linear-gradient(180deg, #7679ce,#bdbdcc);
    color: rgb(33, 28, 84);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 800;
    transition: transform 0.3s ease;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(188, 180, 180, 0.1);
}
.start-button:hover{
    transform: scale(1.05);
}



/* Student Home */
.student-line{
    margin-left: 40px;
    margin-right: 40px;
    color: rgb(206, 204, 81);
    box-shadow: 0 0 3px white;
    margin-top: 2px;
}
.student-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: rgb(206, 204, 81);
    text-shadow: 0 0 2px black;
}

.student-hero h1{
    color: white;
    font-size: 40px;
    font-weight: 800;
}
.student-hero h3{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.line-seperator{
    display: flex;
    justify-content: center;
    margin-top: -120px;
    margin-bottom: -140px;
    /* height: 30px; */
}
.line-seperator img{
    height: 300px;
}
.student-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 60px;
}
.container-1, .container-3{
    width: 300px;
    height: 300px;
    border-radius: 50px;
    background: rgba(255,255,255,0.1);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.18);
}

.container-2{
    border-radius: 50px;
    width:400px;
    height: 400px;
    background: rgba(255,255,255,0.1);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.18);
}